* {
	outline: none;
}
body {
	margin: 0;
	padding: 0;
	background: #F5F7FA;
	padding-top: 84px;
	font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,sans-serif;
}
.containner {
	padding: 0 120px;
	margin-bottom: 24px;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.el-button--primary{
  color: #354048 !important;
}

.el-checkbox__inner {
  border-radius: 50% !important;
}

.btn-limit-width {
  width: 124px;
}

.limit-menber-height {
  max-height: 207px;
  margin-bottom: 34px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.limit-menber-height::-webkit-scrollbar {
  width: 5px;
}
.limit-menber-height::-webkit-scrollbar-track {
  background-color:#EDEDED;
  border-radius: 5px;
}
.limit-menber-height::-webkit-scrollbar-thumb {
  background-color:#FFE266;
  border-radius: 5px;
}

.form-submit-btn {
  width: 124px !important;
}

.form-reset-btn {
  width: 124px !important;
}