body {
	margin: 0;
	padding: 0;
	background: #F5F7FA;
	font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,sans-serif;
}

.containner {
	padding: 0 120px;
	margin-bottom: 24px;
}